# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Fabric / Minecraft 运行目录
run/

# 系统
.DS_Store
Thumbs.db
